.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/misc.xml
app/src/main/java/com/ctc/isweather/activity/MainActivity.java
app/src/main/java/com/ctc/isweather/activity/MainActivity.java
.idea/misc.xml
