<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ctc.isweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="org.henjue.library.share"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true">
        <activity
            android:name=".view.activity.IndexActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.TodayWeatherActivity"
            android:label="TodayWeatherActivity" />
        <activity
            android:name=".view.activity.FutureWeatherActivity"
            android:label="FutureWeatherActivity" />
        <activity
            android:name=".view.activity.CityManageActivity"
            android:label="@string/title_activity_city_manage" />
        <activity
            android:name=".view.activity.CityAddActivity"
            android:label="@string/title_activity_city_add" />
        <activity
            android:name=".view.activity.ShareActivity"
            android:label="@string/title_activity_share" />

        <activity
            android:name=".view.activity.ShowIndexDialog"
            android:label="指数详情"
            android:theme="@android:style/Theme.Dialog" />


        <activity
            android:name=".control.charts.ShowLineChart_1"
            android:label="ShowLineChart" />

        <activity
            android:name=".control.charts.ShowLineChart_2"
            android:label="ShowLineChart" />

        <activity
            android:name=".control.charts.FinalLineChart"
            android:label="ShowLineChart" />
        <activity
            android:name=".control.charts.ShowLineChart_4"
            android:label="ShowLineChart" />
        <activity
            android:name=".control.charts.ShowLineChart_5"
            android:label="ShowLineChart" />

        <activity
            android:name=".control.charts.PerformanceLineChart"
            android:label="ShowLineChart" />

        <activity
            android:name=".control.charts.RealtimeLineChartActivity"
            android:label="ShowLineChart" />
        <!-- for widget -->
        <receiver android:name=".view.widget.WeatherWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

        <service
            android:name=".control.service.UpdateWidgetService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
