<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctc.isweather" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".view.activity.IndexActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.TodayWeatherActivity"
            android:label="TodayWeatherActivity" />
        <activity
            android:name=".view.activity.FutureWeatherActivity"
            android:label="FutureWeatherActivity" />
        <activity
            android:name=".view.activity.CityManageActivity"
            android:label="@string/title_activity_city_manage" />
        <activity
            android:name=".view.activity.CityAddActivity"
            android:label="@string/title_activity_city_add" />
        <activity
            android:name=".view.activity.ShareActivity"
            android:label="@string/title_activity_share" />

        <!--for widget-->
        <receiver android:name=".view.widget.WeatherWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

    </application>

</manifest>
